
<div class="my-container">
    <center><h1>Incripción al <br>CONGRESO PROVINCIAL DE EDUCACIÓN SUPERIOR <br> <br><p>Para poder asistir deberá completar el siguiente formulario. </p><a class="btn btn-primary btn-lg" href="/personas/new" role="button">Inscribirme</a></h1>

</center>

    <img src="/assets/back.png">
</div>

<style type="text/css">

.my-container {
    position: relative;
    overflow: hidden;
}
.my-container h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
}
</style>