<%- model_class = Persona -%>
<div class="page-header">
  <h1>Inscripción al <IMG SRC="https://dl.dropboxusercontent.com/u/83327675/logo_cpes.png" WIDTH=80> <br><%#=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>

<div class="alert alert-info" role="alert">
  <center><h3>CONGRESO PROVINCIAL DE EDUCACIÓN SUPERIOR </h3>
  15 Y 16 DE SEPTIEMBRE</center><br>
  El costo del taller es de $30, incluye certificación.
</div>

</div>
<%= render :partial => 'form' %>
